@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
body {font-family: 'Bangers', cursive;
background-color: #212121;
color: #FF4545;
margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
}

.title {
    
    font-size: 100px;
    text-align: center;
    background-color: #1E1C1C;
    padding: 15px;
}

.battle-ground {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.battle-ground div {
    flex: 1 1 auto;
}

/* OPTIONS: ROCK PAPER OR SCISSORS*/
img {
    height: 200px;
    width: 200px;
    border: solid;
    border-radius: 20px;
}
img:hover {
    scale: 1.1;
    border: solid;
    border-radius: 20px;
    border-width: 6px;
}

.options {
    display: flex;
    height: 600px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 32px;
    gap: 100px;
    margin: 0px 500px;
}

.options div {
    scale: 1.1;
}

/* Scoreboard */
.score-board {
    display: flex;
    flex-direction: row;
    font-size: 60px;
    margin: 0 500px;
}

.score {
    background-color: #FF4545;
    color: #1E1C1C;
    text-align: center;
}

.player, .computer {
    background-color:#1E1C1C;
}

.score-board > div {
    flex: 1 1 auto;
}

.computer {
    text-align: end;
}


/* End display */
.end-message {
    text-align: center;
    font-size: 100px;
    padding: 50px
}
